<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<!-- ckfind config -->
	<servlet>
		<servlet-name>ConnectorServlet</servlet-name>
		<servlet-class>
			com.ckfinder.connector.ConnectorServlet
		</servlet-class>
		<init-param>
			<param-name>XMLConfig</param-name>
			<param-value>/WEB-INF/ckfinder-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>ConnectorServlet</servlet-name>
		<url-pattern>
			/common/js/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>FileUploadFilter</filter-name>
		<filter-class>
			org.roof.webframework.ckfinder.FileUploadFilter
		</filter-class>
		<init-param>
			<param-name>sessionCookieName</param-name>
			<param-value>JSESSIONID</param-value>
		</init-param>
		<init-param>
			<param-name>sessionParameterName</param-name>
			<param-value>jsessionid</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>FileUploadFilter</filter-name>
		<url-pattern>
			/common/js/ckfinder/core/connector/java/connector.java
		</url-pattern>
	</filter-mapping>
	<!-- end ckfind config -->

	<filter>
		<filter-name>RoofApplicationFilter</filter-name>
		<filter-class>
			org.roof.webframework.safety.action.RoofApplicationFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>RoofApplicationFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>hibernateFilter</filter-name>
		<filter-class>
			org.springframework.orm.hibernate3.support.OpenSessionInViewFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>hibernateFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			org.springframework.web.filter.CharacterEncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>BankFilter</filter-name>
		<filter-class>
			 com.zhuji.bank.BankFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>BankFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<filter>
		<filter-name>struts2</filter-name>
		<filter-class>
			org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
		</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>struts2</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--
		<filter>
		<filter-name>ralasafe/LoginFilter</filter-name>
		<filter-class>org.ralasafe.webFilter.LoginFilter</filter-class>
		<init-param>
		<param-name>loginPage</param-name>
		<param-value>/ralasafe/demo/login.jsp</param-value>
		</init-param>
		<init-param>
		<param-name>uniqueFieldsParams</param-name>
		<param-value>loginName</param-value>
		</init-param>
		<init-param>
		<param-name>passwordParam</param-name>
		<param-value>password</param-value>
		</init-param>
		</filter>
		<filter>
		<filter-name>ralasafe/UrlAclFilter</filter-name>
		<filter-class>org.ralasafe.webFilter.UrlAclFilter</filter-class>
		<init-param>
		<param-name>loginPage</param-name>
		<param-value>/ralasafe/demo/login.jsp</param-value>
		</init-param>
		<init-param>
		<param-name>denyPage</param-name>
		<param-value>/ralasafe/demo/noPrivilege.jsp</param-value>
		</init-param>
		</filter>
		<filter-mapping>
		<filter-name>ralasafe/LoginFilter</filter-name>
		<url-pattern>/ralasafe/demo/*</url-pattern>
		</filter-mapping>
		<filter-mapping>
		<filter-name>ralasafe/UrlAclFilter</filter-name>
		<url-pattern>/ralasafe/demo/*</url-pattern>
		</filter-mapping>
		<servlet>
		<servlet-name>ralasafe</servlet-name>
		<servlet-class>org.ralasafe.servlet.RalasafeController</servlet-class>
		<init-param>
		<param-name>repositoryDir</param-name>
		<param-value>
		D:\Workspaces\space-utf8-1\zhujibank\WebRoot\xml(oracle)
		</param-value>
		<param-value>../webapps/bizmgr/xml(oracle)</param-value> 
		</init-param>
		<init-param>
		<param-name>secured</param-name>
		<param-value>false</param-value>
		</init-param>
		<load-on-startup>4</load-on-startup>
		</servlet>
		
		<servlet-mapping>
		<servlet-name>ralasafe</servlet-name>
		<url-pattern>*.rls</url-pattern>
		</servlet-mapping>
	-->
	<!-- spring 容器启动 -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext.db2.xml</param-value>
		<!-- <param-value>classpath*:applicationContext.mail.xml</param-value> -->
	</context-param>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/err.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/err.jsp</location>
	</error-page>
	<error-page>
		<exception-type>java.lang.Throwable</exception-type>
		<location>/err.jsp</location>
	</error-page>
	<distributable/>
</web-app>
