<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-file="http://www.springframework.org/schema/integration/file"
	xmlns:int-ftp="http://www.springframework.org/schema/integration/ftp"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int-sftp="http://www.springframework.org/schema/integration/sftp"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	    http://www.springframework.org/schema/integration 
	    http://www.springframework.org/schema/integration/spring-integration.xsd
        http://www.springframework.org/schema/integration/file
		http://www.springframework.org/schema/integration/file/spring-integration-file.xsd
		http://www.springframework.org/schema/integration/ftp
		http://www.springframework.org/schema/integration/ftp/spring-integration-ftp.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration/sftp
        http://www.springframework.org/schema/integration/sftp/spring-integration-sftp.xsd">

	<context:property-placeholder />

	<bean id="injectionApplicationContextListener" class="org.roof.spring.InjectionApplicationContextListener" />


	<!-- 定义通道 -->
	<int:channel id="file-channel" />
	<bean id="uploadFileService" class="org.roof.file.upload.integration.service.impl.UploadFileServiceImpl">
		<property name="messageChannel" ref="file-channel" />
	</bean>
	
<!-- 	<int-file:inbound-channel-adapter 
		directory="E:/spring-integration-samples/input" channel="file-channel"> 
		<int:poller fixed-rate="1000"/> 
		</int-file:inbound-channel-adapter>  -->

	<int:header-value-router input-channel="file-channel" default-output-channel="sftp-file-channel" header-name="uploadtype">
		<int:mapping value="sftp" channel="sftp-file-channel" />
	</int:header-value-router>

	<int:channel id="sftp-file-channel"/>
	
	<int:outbound-channel-adapter ref="roofUploadFileSFtp"
		channel="sftp-file-channel" />
	<bean id="roofUploadFileSFtp" class="org.roof.file.upload.integration.service.sftp.RoofUploadFileSFtp" ></bean>


</beans>