<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.color.mail.mail.dao">

	<sql id="columns">
		id, name, content, send_count, stat
	</sql>
	<sql id="vals">
		#{id}, #{name}, #{content}, #{send_count}, #{stat}
	</sql>
	<sql id="conds">
		<if test="id != null and id != ''">
			and id = #{id}
		</if>
		<if test="name != null and name != ''">
			and name = #{name}
		</if>
		<if test="content != null and content != ''">
			and content = #{content}
		</if>
		<if test="send_count != null and send_count != ''">
			and send_count = #{send_count}
		</if>
		<if test="stat != null and stat != ''">
			and stat = #{stat}
		</if>
	</sql>

	<insert id="saveMail" parameterType="org.color.mail.mail.entity.Mail" useGeneratedKeys="true" keyProperty="id">
		<selectKey keyProperty="id" resultType="Long" order="AFTER">
			select last_insert_id()
		</selectKey>
		insert into t_mail (<include refid="columns" />) 
		values (<include refid="vals" />)
	</insert>

	<delete id="deleteMail">
		delete from t_mail
		where id=#{id} 
	</delete>

	<delete id="deleteByExampleMail">
		delete from t_mail
		where 1=1
		<include refid="conds" />
	</delete>
	
	<select id="loadMail" resultType="org.color.mail.mail.entity.MailVo">
		select 
		<include refid="columns"/>
		from t_mail
		where id=#{id} 
	</select>
	
	<select id="selectMail" resultType="org.color.mail.mail.entity.MailVo">
		select 
		<include refid="columns"/>
		from t_mail
		where 1=1
		<include refid="conds" />
	</select>

	<update id="updateMail">
		update t_mail
		<set>
			id=#{id}, 
			name=#{name}, 
			content=#{content}, 
			send_count=#{send_count}, 
			stat=#{stat}
		</set>
		where id=#{id} 
	</update>

	<update id="updateIgnoreNullMail">
		update t_mail
		<set>
		<if test="id != null and id != ''">
			id=#{id}, 
		</if>
		<if test="name != null and name != ''">
			name=#{name}, 
		</if>
		<if test="content != null and content != ''">
			content=#{content}, 
		</if>
		<if test="send_count != null and send_count != ''">
			send_count=#{send_count}, 
		</if>
		<if test="stat != null and stat != ''">
			stat=#{stat}
		</if>
		</set>
		where id=#{id} 
	</update>

	<update id="updateByExampleMail">
		update t_mail
		<set>
			<if test="id != null and id != ''">
			id=#{id}, 
			</if>
			<if test="name != null and name != ''">
			name=#{name}, 
			</if>
			<if test="content != null and content != ''">
			content=#{content}, 
			</if>
			<if test="send_count != null and send_count != ''">
			send_count=#{send_count}, 
			</if>
			<if test="stat != null and stat != ''">
			stat=#{stat}
			</if>
		</set>
		where 1=1
		<include refid="conds" />
	</update>

</mapper>