<beans:beans xmlns="http://www.springframework.org/schema/batch"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/batch
           http://www.springframework.org/schema/batch/spring-batch-2.2.xsd
           http://www.springframework.org/schema/task
           http://www.springframework.org/schema/task/spring-task.xsd">
	<task:annotation-driven />

	<beans:bean id="jobOperator"
		class="org.springframework.batch.core.launch.support.SimpleJobOperator">
		<beans:property name="jobExplorer" ref="jobExplorerFactoryBean" />
		<beans:property name="jobRepository" ref="jobRepository" />
		<beans:property name="jobRegistry" ref="jobRegistry" />
		<beans:property name="jobLauncher" ref="jobLauncher" />
	</beans:bean>
	<beans:bean name="jobExplorerFactoryBean"
		class="org.springframework.batch.core.explore.support.JobExplorerFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
	</beans:bean>
	<beans:bean id="jobRegistry"
		class="org.springframework.batch.core.configuration.support.MapJobRegistry" />
	<beans:bean id="automaticJobRegistrar"
		class="org.springframework.batch.core.configuration.support.AutomaticJobRegistrar">
		<beans:property name="applicationContextFactories">
			<beans:bean
				class="org.springframework.batch.core.configuration.support.ClasspathXmlApplicationContextsFactoryBean">
				<beans:property name="resources" value="classpath*:/jobs/job-*.xml" />
			</beans:bean>
		</beans:property>
		<beans:property name="jobLoader">
			<beans:bean
				class="org.springframework.batch.core.configuration.support.DefaultJobLoader">
				<beans:property name="jobRegistry" ref="jobRegistry" />
			</beans:bean>
		</beans:property>
	</beans:bean>
	<beans:bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<beans:property name="jobRepository" ref="jobRepository" />
		<beans:property name="taskExecutor" ref="taskScheduler" />
	</beans:bean>
	<!-- <beans:bean id="syncTaskExecutor" class="org.springframework.core.task.SyncTaskExecutor"></beans:bean> -->
	<!-- <beans:bean id="threadPoolTaskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor" 
		scope="singleton"> <beans:property name="corePoolSize" value="4" /> <beans:property 
		name="maxPoolSize" value="10" /> <beans:property name="keepAliveSeconds" 
		value="60" /> </beans:bean> -->

	<beans:bean id="SyncTaskExecutor"
		class="org.springframework.core.task.SyncTaskExecutor">
	</beans:bean>
	<beans:bean id="taskScheduler"
		class="org.springframework.scheduling.concurrent.ConcurrentTaskScheduler" />
	<beans:bean name="jobRepository"
		class="org.springframework.batch.core.repository.support.JobRepositoryFactoryBean">
		<beans:property name="dataSource" ref="dataSource" />
		<beans:property name="transactionManager" ref="transactionManager" />
	</beans:bean>
</beans:beans>