<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/aop  http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
	<!-- <bean id="saveOrUpdateSetValueAspect" class="com.feinuo.fruit.util.SaveOrUpdateSetValueAspect">
		<property name="daoSupport" ref="roofDaoSupport" />
	</bean>
	<aop:config>
		<aop:aspect ref="saveOrUpdateSetValueAspect">
			<aop:before pointcut="execution(* com.feinuo.fruit..*Service.save*(..))"
				method="beforeSave" />
			<aop:before pointcut="execution(* com.feinuo.fruit..*Service.update*(..))"
				method="beforeUpdate" />
		</aop:aspect>
	</aop:config> -->
</beans>
